@import url("https://fonts.googleapis.com/css2?family=Acme&family=Arvo&family=Oswald:wght@300&family=Patrick+Hand&display=swap");

.bg-blur {
  background-image: url("../images/sailormoon.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position: fixed;
  z-index: -1;
  background-color: var(--user-bg-color);
}

.upperText {
  font-family: "Patrick Hand", cursive;
  font-size: 33px;
  color: var(--user-upper-text-color);
  margin: 0;
}

.statsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

@font-face {
  font-family: CherryBomb;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/CherryBomb.ttf);
}

@font-family {
  font-family: "Patrick Hand", cursive;
}
.usernameText {
  font-family: CherryBomb;
  font-style: normal;
  font-weight: normal;
  font-size: 43px;
  margin: 0;
  color: var(--user-username-text-color);
  text-align: center;
  -webkit-text-stroke: 3px var(--user-username-text-border);
}

.lofiText {
  font-family: CherryBomb;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin: 0;
  display: flex;
  justify-content: center;
  color: var(--user-username-text-color);
  -webkit-text-stroke: 3px var(--user-username-text-border);
  text-align: center;
}

.mainContainer {
  padding: 17px;
}

.bioText {
  font-family: CherryBomb;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: var(--user-upper-text-color);
}

.statsText {
  font-family: "Patrick Hand", cursive;
  font-size: 43px;
  color: var(--user-upper-text-color);
  margin: 0;
}

.activitySquares {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 20px;
}

.location {
  font-size: 20px !important;
  font-family: Cherry Bomb;
}

.twitter {
  font-size: 20px !important;
}

.shareText {
  font-family: CherryBomb;
  font-style: normal;
  font-weight: normal;
  font-size: 43px;
  margin: 0;
  color: var(--user-username-text-color);
  text-align: center;
  -webkit-text-stroke: 3px var(--user-username-text-border);
}

@media screen and (max-width: 768px) {
  .bg-blur {
    background-image: url("../images/croppedSailorMoon.png");
  }
}
