body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --home-bg-color: #d3b4c4;
  --phone-bg-color: #ccaeb2;
  --home-text-color: #fad5bb;
  --home-text-border: #78414a;

  --button-background: #78414a;
  --button-shadow: #3b2025;
  --button-pressed: #572f36;

  --gif-border: #905aa2;
  --nf-text-color: #cd7765;
  --nf-text-border: #210a0d;

  --user-bg-color: #ccaeb2;
  --user-upper-text-color: #442533;
  --user-username-text-color: #ca8497;
  --user-username-text-border: #442533;

  --footer-background-color: #da8598;
}

html {
  cursor: url(./images/cursor.cur), auto;
  overflow-x: hidden;
}

html,
body {
  height: -webkit-fill-available;
}
